@import "colors.css";
* {
  font-family: Poppins;
  font-size: 15px;
  line-height: 24px;
}
#image {
  padding-left: 30px;
}
.btn-apply,
.btn-apply:hover,
.btn-apply:focus {
  color: var(--secondary-color);
  background-color: white;
  border: solid 1px var(--secondary-color);
}
.btn__order,
.btn__order:hover,
.btn__order:focus {
  color: white;
  background-color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
}

.billing {
  padding-top: 50px;
  margin-right: 80px;
}

.checkout {
  margin-top: 50px;
}

.labelEdit {
  line-height: 2.9;
  /* Adjust as needed */
}

.save {
  padding-top: 15px;
}

.radio:focus {
  color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.input {
  background-color: var(--bg-color);
}

.input:focus {
  border: solid 1px var(--secondary-color);
  background-color: var(--bg-color);
}

.input::placeholder {
  color: var(--secondary-color);
}

.coupon {
  margin-right: 30px;
}

.product__img {
  width: 18%;
}
