#image {
    padding-left: 30px;
}


@import "colors.css";

.btn-apply{
    color: white;
    background-color: var(--primary-color);
    border: var(--primary-color);
    transition: background-color 0.3s ease;
}

.btn-apply:hover{
    color: white;
    background-color: #f85981;

}


 * {
font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 24px;

   }
 

   .billing {
    padding-top: 50px; 
    margin-right: 80px; 
  }

 .checkout {
    margin-top: 80px;

 }

  .labelEdit {
    line-height: 2.9; /* Adjust as needed */
  }

  .save {
    padding-top: 15px;
  }

  .radio:focus {
   color: var(--primary-color);
   background-color: var(--primary-color);
  }


  .form-control{
    background-color: rgb(247, 247, 247)
  }

  .form-control:focus {
    border: solid 2px var(--primary-color);
  }

  .coupon {
    margin-right:30px ;
  }